Options All -Indexes

<files config.php>
order allow,deny
deny from all
</files>

RewriteEngine on

#http://example.com/results.php?manage=produce&action=fruit&species=apple
#http://example.com/produce/fruit/apple
RewriteRule ^admincp/(hieu_san_pham|loai_san_pham|san_pham|tin_tuc|gio_hang)/([^/.]+)$ admincp/index.php?manage=$1&action=$2