/* Name: Celtic Blue
Hex: #296ACC
RGB: (41, 106, 204)
CMYK: 0.799, 0.480, 0, 0.2
PICTON BLUE	
Name: Picton Blue
Hex: #47ABFF
RGB: (71, 171, 255)
CMYK: 0.721, 0.329, 0, 0
MAYA BLUE	
Name: Maya Blue
Hex: #5BC8FF
RGB: (91, 200, 255)
CMYK: 0.643, 0.215, 0, 0
WINTER WIZARD	
Name: Winter Wizard
Hex: #97E8FF
RGB: (151, 232, 255)
CMYK: 0.407, 0.090, 0, 0
BLUEBERRY	
Name: Blueberry
Hex: #489BF2
RGB: (72, 155, 242)
CMYK: 0.702, 0.359, 0, 0.050 */