body {
  margin: 0 auto;
  background-color: aliceblue;
}

.container {
  margin: auto;
  width: 1200px;
  height: auto;
  display: block;
}
/* Đây là header */

.header {
  width: 1200px;
  height: 180px;
  border: 1px solid black;
  display: block;
}

.top-header {
  width: 100%;
  text-align: right;
  position: relative;
  font-size: 12px;
  height: 40px;
  border: 1px solid black;
}

.mid-header {
  position: relative;
  width: 100%;
  display: flex;
}

.logo {
  width: 400px;
  height: 140px;
  border: 1px solid violet;
}

.search-box {
  width: 400px;
  height: 140px;
  border: 1px solid violet;
}

.banner {
  width: 400px;
  height: 140px;
  border: 1px solid violet;
}

/* Đây là Menu */

#menu-ngang {
  margin: 10px auto;
  width: 1200px;
  height: 50px;
  line-height: 40px;
  background: #34495e;
}

#menu-ngang > ul {
  margin: auto 10px;
  padding: 0px;
  list-style-type: none;
}

#menu-ngang ul.menu {
  justify-content: right;
  width: 800px;
}

#menu-ngang ul.menu > li {
  margin: 0;
  min-width: 100px;
  height: 50px;
  line-height: 50px;
  position: relative;
  text-align: center;
  float: left;
  background-color: #34495e;
  border-right: 1px #9da9b5 solid;
}

#menu-ngang > ul > li a {
  margin: 0;
  width: 100%;
  text-decoration: none;
  color: #fff;
  display: block;
}

#menu-ngang ul.right {
  float: right;
  background: #34495e;
  width: 400px;
  justify-content: center;
}

#menu-ngang ul.right > li {
  margin: 0;
  margin-left: 15px;
  min-width: 100px;
  height: 50px;
  line-height: 50px;
  position: relative;
  text-align: center;
  float: right;
  background-color: #34495e;
}

#sub-menu {
  list-style-type: none;
  width: 100%;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  z-index: 1;
}

li:hover ul#sub-menu {
  opacity: 1;
  visibility: visible;
}

#sub-menu li {
  float: none;
  width: 100%;
}

#sub-menu a:hover {
  border: 1px solid silver;
  background-color: teal;
}

#sub-menu a {
  background-color: #9da9b5;
}

.right ul,
.right li {
  margin: 0;
  padding: 0;
}

/* Đã xong */
/* Content + Sidebar */

.container-content {
  width: 100%;
  display: block;
  position: relative;
  top: 20px;
}

#sidebar {
  float: left;
  width: 20%;
  position: relative;
  height: auto;
}

#sidebar .top-sidebar,
#sidebar .mid-sidebar,
#sidebar .bottom-sidebar {
  border: 1px solid #cccccc;
}

#sidebar .top-sidebar li {
  border: none;
  padding: 10px;
  line-height: 30px;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
}

#sidebar .top-sidebar ul,
#sidebar .mid-sidebar ul {
  padding: 0;
  list-style: none;
  margin: 0px;
  width: 100%;
}

.top-sidebar ul li,
.mid-sidebar ul li {
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
}

.top-sidebar ul li a,
.mid-sidebar ul li a {
  text-decoration: none;
  padding-bottom: 2px;
  width: 100%;
  display: block;
}

.top-sidebar,
.mid-sidebar,
.bottom-sidebar {
  position: relative;
  margin-bottom: 30px;
}

.content {
  position: relative;
  margin-left: 20px;
  /* border: 1px solid black; */
  float: right;
  width: 78%;
  display: block;
  height: auto;
}

.content-box {
  width: 100%;
  /* border: 1px solid black; */
  position: relative;
  top: 10px;
  display: block;
}

.san-pham {
  width: 100%;
  height: 400px;
  position: relative;
  border: 1px solid black;
  float: left;
  top: 30px;
}

.linh-kien-laptop {
  width: 100%;
  height: 200px;
  position: relative;
  border: 1px solid black;
  float: left;
  top: 60px;
}

.footer {
  width: 100%;
  display: block;
  position: relative;
  height: auto;
  top: 110px;
}
.footer .hang-san-xuat {
  width: 100%;
  height: 80px;
  border: 1px solid black;
  float: left;
  margin-bottom: 10px;
}
.footer .thong-tin {
  width: 100%;
  height: 200px;
  border: 1px solid black;
  float: left;
}
