body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}
.container {
  width: 1200px;
  border: 1px solid;
  height: 900px;
  display: block;
}

.header {
  width: 1200px;
  height: 180px;
  border: 1px solid black;
  display: block;
}
.top-header {
  float: right;
  width: 100%;
  text-align: right;
  position: relative;
  font-size: 12px;
  height: 40px;
  border: 1px solid black;
  padding-right: 10px;
}
.mid-header {
  position: relative;
  width: 100%;
  display: flex;
}

.logo {
  width: 400px;
  height: 140px;
  border: 1px solid violet;
}
.search-box {
  width: 400px;
  height: 140px;
  border: 1px solid violet;
}
.banner {
  width: 400px;
  height: 140px;
  border: 1px solid violet;
}
#menu-ngang {
	margin: 0px auto;
	width: 1200px;
	height: 40px;
    line-height: 40px;
    background: #34495e;
}
#menu-ngang >ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#menu-ngang ul.menu{
    justify-content: right;
    width: 800px;
}
#menu-ngang ul.menu >li {	
	margin: 0;
	min-width: 100px;
	height: 40px;
	line-height: 40px;
	position: relative;
	text-align: center;
	float: left;
	background-color: #34495e;
	border-right: 1px #9da9b5 solid;
}
#menu-ngang >ul >li a{
	margin: 0;
	width: 100%;
	text-decoration: none;
	color:#fff;
	display:block;
}

#menu-ngang ul.right{
    float: right;
    background: #34495e;
    width: 400px;
    justify-content: center;
}
#menu-ngang ul.right >li {	
	margin: 0;
	min-width: 100px;
	height: 40px;
	line-height: 40px;
	position: relative;
	text-align: center;
	float: right;
	background-color: #34495e;
	border-right: 1px #9da9b5 solid;
}

