* {
  margin: 0;
  padding: 0;
}
body {
  margin: auto;
  width: 1200px;
  font-family: Arial, san-serif;
  display: flexbox;
}
.header {
  width: 100%;
  border: 1px solid;
  height: 120px;
}
.sidebar-nav {
  text-align: center;
  width: 340px;
  height: 400px;
  float: left;
  position: relative;
  border: 1px solid silver;
}
.sidebar {
  list-style-type: none;
}
.sidebar > li {
  width: auto;
  height: 50px;
  border-top: 1px solid silver;
  position: relative;
  display: block;
}
.sidebar::after {
  content: "";
  display: table;
  clear: both;
}
.sidebar a {
  text-decoration: none;
  color: black;
  display: inline-flex;
  padding: 10px;
  text-align: center;
}

.sidebar > li:last-child {
  border: none;
}
.sidebar > li a:hover {
  background-color: white;
  color: slateblue;
}
/*Menu cấp 2*/
.sidebar li:hover {
  display: block;
}

.menu-nav {
  width: 850px;
  height: 50px;
  float: left;
  background-color: slateblue;
  position: relative;
  border: 1px solid silver;
}
.menu {
  margin-top: 4px;
  background-color: slateblue;
  list-style-type: none;
  width: auto;
  display: flex;
  justify-content: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.menu > li {
  float: left;
  width: auto;
  border-right: 1px solid silver;
  position: relative;
}
.menu::after {
  content: "";
  display: table;
  clear: both;
}
.menu a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  text-align: center;
}

.menu > li:last-child {
  border: none;
}
.menu > li a:hover {
  background-color: white;
  color: slateblue;
}
/*Menu cấp 2*/
.menu li:hover {
  display: block;
}

.content {
  text-align: center;
  margin: 0 auto;
  width: 850px;
  float: right;
  position: relative;
}
.content-box {
  position: relative;
  top: 30px;
}
h2 {
  padding-bottom: 15px;
}

table.hieu-san-pham {
  margin: auto;
  width: 450px;
}
table.them-hieu {
  margin: auto;
  text-align: right;
}
table.loai-san-pham {
  margin: auto;
  width: 450px;
}
table.loai-hieu {
  margin: auto;
  text-align: right;
}